@CHARSET "UTF-8";

html, body {
 	font-family: 'Roboto', sans-serif;
 	padding: 0px;
 	border: 0px;
 	margin: 0px;
 	width: 100%;
    height: 100%;
    padding: 0px;
}

#map-canvas {
	width: 100%;
	height: 100%;
}

#weather-container{
	position: absolute;
	left: 16px;
    bottom: 30;
    height: 150px;
    width: 350px;
    align-content: center;
    color: #ffffff;
    font-size: 20pt;
    text-align: center;
    text-shadow: #000000;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .60);
}

.wthrpic{
	margin-top: 10px;
	height: 20px;
}

#search-bar{
	padding-left: 20px;
	padding-right: 20px;
    position: fixed;
    margin-left: 20.5%;
    top: 10px;
    width: 45%;
    color: #444444;
    background-color: rgba(255,255,255,0.85);
    transition: all 0.3s ease 0s;
}

#search-bar:focus {
	background-color: rgba(255,255,255,1.0);
}

.placelistitem{
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    padding-bottom: 25px;
    border-bottom:  1px solid #DDDDDD;
    margin-bottom: 0px;
    color: #888888;
}

.placelistitem button{
	float: right;
	width: 100px;
}

.gm-style-iw {
	text-align: center;
}

#searchArea {
	background: #ffffff;
 	background: -webkit-linear-gradient(#77EA89, #3B9E6A);
	background:    -moz-linear-gradient(#77EA89, #3B9E6A);
 	background:         linear-gradient(#77EA89, #3B9E6A);
 	width: 100%;
 	height: 100%;
 	border: 0px;
 	margin: 0px;
 	padding: 0px;
 	position: absolute;
}

#mapArea {
	width: 100%;
 	height: 100%;
 	border: 0px;
 	margin: 0px;
 	padding: 0px;
}

#bodyWrapper {
	position:absolute;
    width:547px;
    height:449px;
    left:50%;
    top:50%;
    margin-left:-273px;
    margin-top:-224px;
}

#logoHeader {
	font-family: 'Roboto', sans-serif;
	font-size: 64px;
	text-align: center;
	color: rgba(255, 255, 255, 1.0);
	margin-top: 0px;
	margin-bottom: 50px;
	text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.20);
}

.searchInputHeaders {
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
	text-align: left;
	color: rgba(255, 255, 255, 0.6);
	margin-top: 0px;
	margin-bottom: -15px;
	margin-left: 0px;
	margin-right: 0px;
	text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.20);
}

input {
	width: 547;
	height: 50;
	-moz-border-radius:5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    border-radius: 5px; /* CSS3 */
    behavior:url("border-radius.htc");
    border: 0px;
    font-family: 'Roboto', sans-serif; 
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: #444444;
    -moz-box-shadow:0 0 15px 0 rgba(0,0,0,0.20);
	-webkit-box-shadow:0 0 15px 0 rgba(0,0,0,0.20);
	box-shadow:0 0 15px 0 rgba(0,0,0,0.20);
	background-color: #C7EAD8;
	transition: all 0.3s ease 0s;
}

input:focus {
	outline: none;
	background-color: rgba(255, 255, 255, 1.0);
}

select {
	width: 277;
	height: 50;
    -moz-border-radius:5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    border-radius: 5px; /* CSS3 */
    border: 0px;
    background-color: #C7EAD8;
    font-size: 20px;
    padding-left: 20px;
    color: #444444;
    -moz-box-shadow:0 0 15px 0 rgba(0,0,0,0.20);
	-webkit-box-shadow:0 0 15px 0 rgba(0,0,0,0.20);
	box-shadow:0 0 15px 0 rgba(0,0,0,0.20);
	-webkit-appearance: none;
	background-image: url("dropdown-arrow-withpadding.png");
	background-repeat: no-repeat;
	background-margin: 20px;
	background-size:   32px 8px;
	background-position: right;
	transition: all 0.3s ease 0s;
}

select:focus {
	outline: none;
	background-color: #ffffff;
}

.dayAndYearInputs {
	width: 120;
	margin-left:10px;
}

#goButton {
	width: 186;
	height: 50;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	border: 0px;
	-moz-border-radius:5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    border-radius: 5px; /* CSS3 */
    behavior:url("border-radius.htc");
    margin-top: 60px;
    margin-left: 180px;
    font-weight: bold;
    background-color: rgba(0,0,0,0.4);
    color: #4EB674;
    -moz-box-shadow:0 0 15px 0 rgba(0,0,0,0.20);
	-webkit-box-shadow:0 0 15px 0 rgba(0,0,0,0.20);
	box-shadow:0 0 15px 0 rgba(0,0,0,0.20);
	transition: all 0.3s ease 0s;
}

#goButton:hover {
	background-color: rgba(0,0,0,0.6);
}

#goButton:active {
	background-color:rgba(0,0,0,0.8);
}

#disabledOption {
	color: #AAAAAA;
}

h3 {
	color: #444444;
	margin-bottom: 7px;
	margin-top: 20px;
}